# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vs/
.vscode/
.idea/

# =========================
# .NET build output
# =========================
**/bin/
**/obj/

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets / local config
# =========================
.env
appsettings.Development.json